.myModal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1000;
}

.myModal__content {
	padding: 1.5rem;
	background: var(--color-canvas-default);
	color: var(--color-fg-default);
	border-radius: 2rem;
	min-width: 300px;
	cursor: default;
}

.active {
	display: flex;
	justify-content: center;
	align-items: center;
}