#octo_rate {
	position: fixed;
	cursor: default;
	right: 0;
	bottom: 0;
	padding: 0.5rem 1rem;
	background-color: var(--color-checks-btn-icon);
	color: var(--color-fg-default);
	opacity: 25%;
}

#octo_rate:hover {
	opacity: 100%;
}